<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%thread] %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
		</encoder>
	</appender>

  <logger name="io.olownia" level="DEBUG" />
  <!-- <logger name="org.http4s.blaze" level="INFO" /> -->

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
